<div>
    <h1>Zadaci</h1>
    <br>
    <br>
    <form>
        <div class="form-group">
            <label>Ime</label>
            <input class="form-control" ng-model="noviZadatak.ime" />
        </div>

        <div>
            <label>Zaduzeni</label>
            <input class="form-control" ng-model="noviZadatak.zaduzeni" />
        </div>

        <div class="form-group">
            <label>Bodovi</label>
            <input class="form-control" ng-model="noviZadatak.bodovi" />
        </div>

        <div>
            <label>Stanje</label>
            <select class="form-control" ng-model="noviZadatak.idStanja">
                <option ng-repeat="s in stanja" value="{{s.id}}">{{s.ime}}
                </option>
            </select>
        </div>

        <div>
            <label>Sprint</label>
            <select class="form-control" ng-model="noviZadatak.idSprinta">
                <option ng-repeat="sp in sprintevi" value="{{sp.id}}">{{sp.ime}}
                </option>
            </select>
        </div>
        <br>
        <button class="btn btn-secondary" ng-click="doAdd()">Dodaj</button>
    </form>

    <br>
    <br>

    <form>
        <div class="form-group">
            <label for="sime">Ime zadatka</label>
            <input ng-model="sParams.imeZadatka" id="sime" class="form-control">
        </div>

        <div class="form-group">
            <label>Sprint</label>
            <select class="form-control" ng-model="sParams.idSprinta">
                <option ng-repeat="s in sprintevi" value="{{s.id}}">{{s.ime}}
                </option>
            </select>
        </div>

        <button ng-click="doSearch()" class="btn btn-primary">Pretrazi</button>
    </form>
    <br>
    <br>
    <div class="btn-group float-right">
        <button ng-disabled="pageNum == 0" ng-click="changePage(-1)" class="btn btn-info">Previous</button>
        <button ng-disabled="pageNum == totalPages - 1" ng-click="changePage(1)" class="btn btn-info">Next</button>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Ime</th>
                <th>Zaduzeni</th>
                <th>Bodovi</th>
                <th>Stanje</th>
                <th>Sprint</th>
                <th colspan="3">Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="z in zadaci">
                <td>{{z.ime}}</td>
                <td>{{z.zaduzeni}}</td>
                <td>{{z.bodovi}}</td>
                <td>{{z.imeStanja}}</td>
                <td>{{z.imeSprinta}}</td>
                <td><button class="btn btn-primary" ng-click="predjiNaStanje(z.id)" ng-disabled="z.imeStanja == 'Zavrsen'">Predji na sledece stanje</button></td>
                <td><button class="btn btn-dark" ng-click="goToEdit(z.id)">Izmeni</button></td>
                <td><button class="btn btn-danger" ng-click="doDelete(z.id)">Obrisi</button></td>
            </tr>
        </tbody>
    </table>
</div>